header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 11;
  background: #1A1A1A;
}

header nav {
	min-height: 100px;
	color: #FFFFFF;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	padding-bottom: 20px;
}

header nav .logo{
	flex: -1;
	margin-left: 15px;
	text-transform: uppercase;
	font-size: xx-small;
	transform: scale(0.7);
	letter-spacing: 3px;
	text-shadow: 0 0 2px #1A1A1A;
}

header nav ul{
	flex: 2;
  display: flex;
	align-items: flex-end;
}

header nav ul li{
	list-style: none;
}

header nav ul li a{
	text-decoration: none;
	color: #EEEEEE;
	font-size: 0.9em;
	opacity: 0.6;
	padding: 0 15px;
}

header nav ul li a:hover{
	border-bottom: 2px solid #EEEEEE;
}

header nav .menu{
	font-size: 2.5em;
  display: none;
}


/* ---------- Responsive ------------ */
@media (max-width: 1000px){
	
	header nav ul{
		position: fixed;
		top:100px;
		right: -100%;
		background: #1A1A1A;
		color: #FFFFFF;
		height: calc(100vh - 100px);
		width: 50%;
		flex-direction: column;
		align-items: flex-start;
		transition: right 0.5s linear;
	}

	header nav .menu{
		display: block;
		width: 100px;
		text-align: center;		
	}

	header nav ul li{
		flex: 2;
  	display: flex;
		align-items: space-between;
		display: inline-block;
		list-style: none;
	}
	
	#chk1:checked ~ ul{
		right: 0;
	}

}

@media (max-width: 768px){
	header .logo{
		position: relative;
		transform: translateY(-150%);
		font-size: xx-small;
		letter-spacing: 1px;
	}

	header .menu{
		display: block;
		width: 100px;
		text-align: center;		
	}

}

input[type='checkbox']{
	display: none;
}